<!DOCTYPE html>
<html>
<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <title>Classroom</title>
  <script type="text/javascript" src="../modules/session_module.js"></script>
</head>
<body>
  <div id="classroomApp" style="position: absolute;">
    <div id="login" style="float: left;">
      <form id="loginForm" >
        <label>email: </label> <input type="text" name="email" /><br />
        <label>password: </label> <input type="password" name="password" /><br />
        <input type="radio" name="person" selected="true">Student</input>
        <input type="radio" name="person">Teacher</input></br />
        <input type="button" id="login" name="login" value="Login" onclick="session.login()">
      </form>
    </div>
    <div id="registration" style="float: right;">
      <form id="registration_form" >
        <label>First Name: </label> <input type="text" name="firstName" /><br />
        <label>Last Name: </label> <input type="text" name="lastName" /><br />
        <label>Phone: </label> <input type="text" name="phone" /><br />
        <label>email: </label> <input type="text" name="email" /><br />
        <label>password: </label> <input type="password" name="password" /><br />
        <input type="submit" name="login" value="Login">
      </form>
    </div>
  </div>
</body>
</html>
